Source: belceboot
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.9.3

Package: belceboot-common
Architecture: all
Depends: ${misc:Depends}, file
Description: belceBOOT common configuration files
 belceboot-common is part of the suite belceBOOT, the
 network boot manager for sataNAS (the aurex NAS server)

Package: belceboot-nbd
Architecture: all
Depends: ${misc:Depends}, belceboot-common, nbd-server
Description: nbd configuration for belceboot
 The package installs nbd-server and required configuration
 to use sataNAS (the aurex NAS server) as disk image server
 via nbd protocol  for LTSP Fat Clients in an aurex network
 environment

